ahmed_test_stuff/node_modules/*
ahmed_test_stuff/uploads/*
ahmed_test_stuff/.vscode/*
yarn*
.DS_Store
.gradle/
.idea/
BubbleScanner/app/libs/openCVLibrary340/build/*
BubbleAnalyser/uploads/*.png
BubbleAnalyser/uploads/*.pdf
BubbleAnalyser/uploads/*.csv
BubbleAnalyser/output/*.png
BubbleAnalyser/db/*.txt
BubbleAnalyser/exports/*.csv
BubbleAnalyser/processing/*.png
