yarn*
.DS_Store
.gradle/
.idea/
*.pyc
BubbleScanner/app/libs/openCVLibrary340/build/*
BubbleAnalyser/uploads/*.png
BubbleAnalyser/uploads/*.pdf
BubbleAnalyser/uploads/*.csv
BubbleAnalyser/output/*.png
BubbleAnalyser/db/*.txt
BubbleAnalyser/exports/*.csv
BubbleAnalyser/processing/*.png
